aside{
    min-width: 250px;
    max-width: 500px;
    height:100vh;
    padding: 12px;
    display: flex;
    position: relative;
    background-color: var(--primary-bgcolor);
}

@media(max-width:500px){
    aside{
        min-width: 125px;
        max-width: 200px;
    }
}

aside .full{
    width:100%;
    height:32px;
    color:#505258;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

aside .full:hover{
    background-color: var(-bg-hover);
}

.spaces{
    display: flex;
    flex-direction: column;
}

.projects{
    width:100%;
    color:#505258;
    border-radius: 3px;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.project{
    height:32px;
    width:100%;
    color:#505258;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.project:not(.actived):hover{
   background-color: #F0F1F2;
}
.project.actived:hover{
    background-color: #B3D4FF;
}

.hidden{
    display: none;
}

.icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:24px;
    height:100%;
    margin-right: 4px;
    color:var(--gray-text);
}

.icon{
    position: absolute;
    left:3px;
}

.spaces{
    color:var(--gray-text);
    font-size: 14px;
}

.default {
    width:24px;
    height:24px;
}

.hover{
    width:18px;
    height:18px;
    opacity: 0;
}

.full:hover .default{
    opacity: 0;
}

.full:hover .hover {
  opacity: 1;
}

.icon-open{
    opacity: 0;
}

.third{
    height:24px;
    padding-right: 4px;
    margin-left: auto;
}

button:hover{
    background-color:#DFE1E6;
}

.dots,.plus{
    width:12px;
    height:12px;
    padding-top: 2px;
    color:var(--gray-text);
}

.button-icon{
    width:24px;
    height:24px;
    cursor: pointer;
    border-radius: 3px;
}

button{
    appearance: none;
    background: none;
    border: none;
}

.drag{
    cursor: ew-resize;
    background-color: var(--border);
    width:1px;
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
}

.drag:hover{
    width:3px;
    background-color: var(--primary-color);
}

.actived{
    color:var(--primary-color);
    background-color:var(--bg-day);
    font-weight: 400;
}

.actived::before{
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    bottom: 0;
    width: 2px;
    height:50%;
    background-color: var(--primary-color);
}

li img{
   width:20px;
   height:20px;
   border-radius: 3px; 
   margin-right: 5px;
}

li{
    position: relative;
}

li .button-icon{
    position: absolute;
    right: 0;
    margin-right: 4px;
    opacity: 0;
}

li:hover .button-icon{
    opacity: 1;
}
li .button-icon.menu-open {
    opacity: 1;
    border:1px solid #B3D4FF;
}

li .menu{
    position: absolute;
    top:35px;
    left:90%;
    display: none;
    width: 263px;
    background-color: var(--primary-bgcolor);
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.delete{
    color: #AE2E24;
    width:24px;
    height:24px;
    margin-right: 4px;
}


li .menu div{
    width: 100%;
    height:40px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    color: #AE2E24;
}

li .menu.menuOpen{
    display: block;
}



