:host {
    width:260px;
    height:100px;
    background-color: var(--primary-bgcolor);
    padding: 12px;
    margin-top: 3px;
    border: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

textarea{
    height: 48px;
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    width: 100%;
    color:var(--primary-text);
}

.end{
    height:28px;
    display: flex;
}

.options{
    position: relative;
    display: flex;
    align-self: center;
}

.select-type{
    width:58px;
    height: 24px;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.select-type:hover{
    background-color: #0515240F;
}
.select-type.open{
    background-color: #E9F2FE;
    border:1px solid var(--primary-color);
}

.list-arrow{
    width: 12px;
    height: 12px;
    margin-left: 4px;
    color:var(--primary-text);
}

img{
    width:16px;
    height:16px;
}

.type-list{
    position: absolute;
    top:22px;
    z-index: 100;
    background-color: var(--primary-bgcolor);
    padding: 8px 0;
    border-radius:3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.option{
    width:115px;
    height:32px;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color:var(--primary-text);
}
.option:hover{
    background-color:var(--bg-hover);
}
.option img{
    margin-right: 8px;
}
.selected{
    background-color: var(--bg-type);
    position: relative;
}
.selected::before{
    content: '';
    position: absolute;
    left:0;
    width:1px;
    height:100%;
    background-color: #669DF1;
}



.calender{
    padding: 4px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.calender:hover{
    background-color:#0515240F;
}
.calender-icon{
    width:16px;
    height:16px;
    margin-right: 4px;
    color:var(--gray-text);
}

.calender.open{
    background-color: var(--bg-type);
    border:1px solid var(--primary-color);
    border-radius: 3px;
}

app-calendar{
    position: absolute;
    top:-20px;
    left:30px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.date-text{
    color:var(--primary-text);
    font-size: 14px;
}

.hidden{
    display: none;
}

.assigned{
    width:25.6px;
    height:25.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
    position: relative;
}
.assigned.open{
    background-color: #E9F2FE;
    border:1px solid var(--primary-color);
}
.assigned:hover{
    background-color:#0515240F;
}
.assigned-icon{
    width:19px;
    height:19px;
    color:var(--gray-text);
}

.members{
    position: absolute;
    top:-30px;
    left:30px;
    width:300px;
    background-color:var(--primary-bgcolor);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 100;
    border-radius: 3px;
    padding: 6px 0;
}
.member{
    height:47.6px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    position: relative;
    color:var(--primary-text);
}

.member:hover::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:2px;
    height:100%;
    background-color: var(--primary-color);
}

.member:hover{
    background-color:#0515240F;
}

.member.selected{
    background-color: var(--bg-type);
}
.member.selected::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:2px;
    height:100%;
    background-color: var(--primary-color);
}

.letters{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-bgcolor);
    font-size: 12px;
}
.name{
    font-size: 14px;
}

.assigned-member{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}

.lets{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-bgcolor);
    font-size: 8px;
}

.create{
    margin-left: auto;
    width: 24px;
    height: 24px;
    padding: 2px 0px;
    cursor: pointer;
    border: 1px solid var(--secondary-bgcolor);
    background-color: var(--primary-bgcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color:var(--gray-text);
}

.create:disabled{
    cursor: not-allowed;
    color: var(--create-btn);
}

.create:hover{
    background-color: #0515240F;
}
btn-icon{
    font-size: 14px;
    font-weight: 500;
}