.body{
    display: flex;
    width:100vw;
  }
.main{
    height:100%;
    width:100%;
}
.project{
    flex: 1;
    min-width: 0;
}

.closed{
    display: none;
}

app-sidebar{
    transition: 0.2s ease;
}

