.calendar-container{
    background-color: var(--primary-bgcolor);
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.calendar-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 16px;
    height: 24px;
}

.header-month{
    color:var(--primary-text);
}

.premonth , .nextmonth{
    color:var(--gray-text);
}


.weeks{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.week{
    font-size: 12px;
    padding: 8px;
    width: 42px;
    height: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--gray-text);
}

.days{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.day{
    padding: 4px 9px;
    font-size: 14px;
    width:41px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:var(--primary-text);
}

.day.today{
    color: var(--primary-color);
    position: relative;
}

.day.outside{
    color: #6B6E76;
}

.day.active{
    color: var(--primary-color);
    background-color: var(--bg-day);
    border-radius: 3px;
}
.day.active:hover{
    background-color: #E9F2FE;
}

.day.today::after{
    content: '';
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 1.5px;
    background-color: var(--primary-color);
}

.day:hover{
    background-color:var(--bg-count);
    cursor: pointer;
    border-radius: 3px;
}