.notfound{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {
    .notfound{
        flex-direction: column;
        gap:20px;
    }
}

.left{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.left p{
    margin: 0;
    color:var(--primary-text);
}

.first {
    font-size: 24px;
    font-weight: bold;
}

.second {
    font-size: 16px;
    padding: 16px 0 0;
}

.third{
    font-size: 12px;
    padding-top: 16px;
}

