
:host {
  display: block;    /* CRITICAL: Allows the component to have dimensions */
  width: 100%;      /* Fills the 80% width from TS */
  height: 100%;     /* Fills the 80% height from TS */
  background: white;
  border-radius: 4px;
  overflow: hidden; /* Keeps scrollbars inside the modal */
}

.invitation{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bgcolor);
}

.img{
    width:100%;
    height:128px;
}

img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.title{
    padding: 24px 24px 16px 24px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text);
}

.description{
    padding: 0 24px;
    font-size: 14px;
    color:var(--gray-text);
}

form{
    padding: 16px 24px 24px 24px;
}

.form-actions{
    padding:16px 0 24px 24px;
    text-align: right;
}

button {
    padding: 6px 10px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color:var(--primary-bgcolor);
    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
}

input {
    width:100%;
    padding: 6px 12px;
}


